In [200]:
import polars as pl
import pathlib
import dataclasses
import pandas as pd
import functools
import sys

In [194]:
cwd = pathlib.Path.cwd()

In [206]:
sys.path.append(str(cwd.parent))

In [208]:
import uro_cbb.bracket as bracket

In [209]:
submission_probs = pd.read_csv(cwd.parent / 'data/kaggle_2025/cleaned/submissions/submission_base_mens_with_kenpom.csv')
submission_probs

                    ID      Pred
0       2025_1101_1102  0.632365
1       2025_1101_1103  0.325837
2       2025_1101_1104  0.079927
3       2025_1101_1105  0.793165
4       2025_1101_1106  0.609938
...                ...       ...
131402  2025_3477_3479  0.910224
131403  2025_3477_3480  0.782747
131404  2025_3478_3479  0.401514
131405  2025_3478_3480  0.192509
131406  2025_3479_3480  0.262188

[131407 rows x 2 columns]

In [210]:
mens_team = pd.read_csv(cwd.parent / 'data/kaggle_2025/raw/MTeams.csv')
mens_team_spellings = pd.read_csv(cwd.parent / 'data/kaggle_2025/raw/MTeamSpellings.csv')

In [211]:
## Claude Generated :)
matchups_raw = [
    # SOUTH Region (Left side, top to bottom)
    [1120, 1106],    # Auburn (1) vs. Alabama State (16)
    [1257, 1166],    # Louisville (8) vs. Creighton (9)
    [1276, 1471],    # Michigan (5) vs. UC San Diego (12)
    [1401, 1463],    # Texas A&M (4) vs. Yale (13)
    [1279, 1314],    # Ole Miss (6) vs. North Carolina (11)
    [1235, 1252],    # Iowa State (3) vs. Lipscomb (14)
    [1266, 1307],    # Marquette (7) vs. New Mexico (10)
    [1277, 1136],    # Michigan State (2) vs. Bryant (15)
    
    # EAST Region (Right side, top to bottom)
    [1181, 1291],    # Duke (1) vs. Mount St. Mary's (16)
    [1280, 1124],    # Mississippi State (8) vs. Baylor (9)
    [1332, 1251],    # Oregon (5) vs. Liberty (12)
    [1112, 1103],    # Arizona (4) vs. Akron (13)
    [1140, 1433],    # BYU (6) vs. VCU (11)
    [1458, 1285],    # Wisconsin (3) vs. Montana (14)
    [1388, 1435],    # Saint Mary's (7) vs. Vanderbilt (10)
    [1104, 1352],    # Alabama (2) vs. Robert Morris (15)
    
    # WEST Region (Bottom left, top to bottom)
    [1196, 1313],    # Florida (1) vs. Norfolk State (16)
    [1163, 1328],    # UConn (8) vs. Oklahoma (9)
    [1272, 1161],    # Memphis (5) vs. Colorado State (12)
    [1268, 1213],    # Maryland (4) vs. Grand Canyon (13)
    [1281, 1179],    # Missouri (6) vs. Drake (11)
    [1403, 1423],    # Texas Tech (3) vs. UNC Wilmington (14)
    [1242, 1116],    # Kansas (7) vs. Arkansas (10)
    [1385, 1303],    # St. John's (2) vs. Omaha (15)
    
    # MIDWEST Region (Bottom right, top to bottom)
    [1222, 1188],    # Houston (1) vs. SIU Edwardsville (16)
    [1211, 1208],    # Gonzaga (8) vs. Georgia (9)
    [1155, 1270],    # Clemson (5) vs. McNeese (12)
    [1345, 1219],    # Purdue (4) vs. High Point (13)
    [1228, 1462],    # Illinois (6) vs. Xavier (11)
    [1246, 1407],    # Kentucky (3) vs. Troy (14)
    [1417, 1429],    # UCLA (7) vs. Utah State (10)
    [1397, 1459]     # Tennessee (2) vs. Wofford (15)
]

In [213]:
matchups = [
    [bracket.Team.from_id(matchup[0], mens_team), bracket.Team.from_id(matchup[1], mens_team)] 
    if matchup[0] < matchup[1]
    else [bracket.Team.from_id(matchup[1], mens_team), bracket.Team.from_id(matchup[0], mens_team)] 
    for matchup in matchups_raw
]

In [217]:
first_round = [
    Game(matchup[0], matchup[1]) for matchup in matchups
]
second_round = [
    HyperGame(first_round[i], first_round[i+1])
    for i in range(0, len(first_round), 2)
]
third_round = [
    HyperGame(second_round[i], second_round[i+1])
    for i in range(0, len(second_round), 2)
]
fourth_round = [
    HyperGame(third_round[i], third_round[i+1])
    for i in range(0, len(third_round), 2)
]
fifth_round = [
    HyperGame(fourth_round[0], fourth_round[2]),
    HyperGame(fourth_round[1], fourth_round[3])
]
sixth_round = [
    HyperGame(fifth_round[0], fifth_round[1]),
]

In [218]:
print("PROB OF WINNING THE WHOLE TOURNAMENT")
for team, prob in sorted(sixth_round[0].all_win_probs.items(), key=lambda team_prob_tuple: -team_prob_tuple[1]):
    print(team, prob)

PROB OF WINNING THE WHOLE TOURNAMENT
Team(_id=1120, name='Auburn') 0.1509411608831387
Team(_id=1181, name='Duke') 0.14696783129013896
Team(_id=1222, name='Houston') 0.14372633912922572
Team(_id=1196, name='Florida') 0.0963725771068435
Team(_id=1104, name='Alabama') 0.054247083932949414
Team(_id=1403, name='Texas Tech') 0.0407470391149578
Team(_id=1397, name='Tennessee') 0.03908034519325122
Team(_id=1235, name='Iowa St') 0.0296718524507985
Team(_id=1112, name='Arizona') 0.024828204027356988
Team(_id=1268, name='Maryland') 0.024175978633879568
Team(_id=1277, name='Michigan St') 0.020551690365418658
Team(_id=1458, name='Wisconsin') 0.017750191797743304
Team(_id=1246, name='Kentucky') 0.017239072957106916
Team(_id=1281, name='Missouri') 0.015272873223619868
Team(_id=1385, name="St John's") 0.01456541851338203
Team(_id=1345, name='Purdue') 0.01432953715242205
Team(_id=1211, name='Gonzaga') 0.014180877446131755
Team(_id=1140, name='BYU') 0.01243036424121394
Team(_id=1242, name='Kansas') 0.012343582942767451
Team(_id=1228, name='Illinois') 0.012177405831552413
Team(_id=1401, name='Texas A&M') 0.010913896573020814
Team(_id=1155, name='Clemson') 0.007771051757233784
Team(_id=1257, name='Louisville') 0.007723673044554409
Team(_id=1276, name='Michigan') 0.007680414001849167
Team(_id=1417, name='UCLA') 0.006701223505991616
Team(_id=1266, name='Marquette') 0.006512335240179119
Team(_id=1388, name="St Mary's CA") 0.005645483439591423
Team(_id=1279, name='Mississippi') 0.0052863201028484075
Team(_id=1163, name='Connecticut') 0.004079872884789641
Team(_id=1124, name='Baylor') 0.003952478585074457
Team(_id=1314, name='North Carolina') 0.003856951303895113
Team(_id=1280, name='Mississippi St') 0.0026948184601555897
Team(_id=1332, name='Oregon') 0.0025009405327028568
Team(_id=1433, name='VCU') 0.0024750646350295835
Team(_id=1166, name='Creighton') 0.002210987841313404
Team(_id=1208, name='Georgia') 0.0021685502562026732
Team(_id=1161, name='Colorado St') 0.0019069208390800208
Team(_id=1307, name='New Mexico') 0.0018625509624391758
Team(_id=1328, name='Oklahoma') 0.0017619922430572585
Team(_id=1462, name='Xavier') 0.001636262373641123
Team(_id=1116, name='Arkansas') 0.001452064212013723
Team(_id=1435, name='Vanderbilt') 0.0014199562303741395
Team(_id=1429, name='Utah St') 0.0012689373131480513
Team(_id=1471, name='UC San Diego') 0.001061925139683412
Team(_id=1272, name='Memphis') 0.0009560923465030163
Team(_id=1251, name='Liberty') 0.0008358948132892875
Team(_id=1179, name='Drake') 0.0007755725587066557
Team(_id=1270, name='McNeese St') 0.0004652728116032361
Team(_id=1463, name='Yale') 0.0002408184605732341
Team(_id=1213, name='Grand Canyon') 0.00017637861334335246
Team(_id=1219, name='High Point') 0.00010762248500869241
Team(_id=1252, name='Lipscomb') 9.423605051452629e-05
Team(_id=1103, name='Akron') 6.230199257525589e-05
Team(_id=1407, name='Troy') 4.982707347465474e-05
Team(_id=1423, name='UNC Wilmington') 3.86342619596254e-05
Team(_id=1303, name='NE Omaha') 1.6813836818489126e-05
Team(_id=1136, name='Bryant') 1.0184120931050853e-05
Team(_id=1285, name='Montana') 9.165990106233262e-06
Team(_id=1459, name='Wofford') 8.382123736985407e-06
Team(_id=1352, name='Robert Morris') 4.288915861633032e-06
Team(_id=1313, name='Norfolk St') 3.298388353817263e-06
Team(_id=1188, name='SIUE') 7.060709836288113e-07
Team(_id=1291, name="Mt St Mary's") 2.5630745464837733e-07
Team(_id=1106, name='Alabama St') 1.5506643409235894e-07

In [226]:
print("PROB OF MAKING IT TO SECOND ROUND")
for game in first_round:
    for team, prob in sorted(game.all_win_probs.items(), key=lambda team_prob_tuple: -team_prob_tuple[1])[:1]:
        print(team, prob)
    print()

PROB OF MAKING IT TO SECOND ROUND
Team(_id=1120, name='Auburn') 0.9637880157310014

Team(_id=1257, name='Louisville') 0.5795817844931614

Team(_id=1276, name='Michigan') 0.6203590595649396

Team(_id=1401, name='Texas A&M') 0.7135302169085129

Team(_id=1279, name='Mississippi') 0.520322990091003

Team(_id=1235, name='Iowa St') 0.8042768248663442

Team(_id=1266, name='Marquette') 0.5784697017777151

Team(_id=1277, name='Michigan St') 0.8498342924657177

Team(_id=1181, name='Duke') 0.960376676385308

Team(_id=1124, name='Baylor') 0.5240621770168928

Team(_id=1332, name='Oregon') 0.564107353704447

Team(_id=1112, name='Arizona') 0.8095769278562722

Team(_id=1140, name='BYU') 0.6054862847500599

Team(_id=1458, name='Wisconsin') 0.8467626904494284

Team(_id=1388, name="St Mary's CA") 0.5849392133388314

Team(_id=1104, name='Alabama') 0.903389228423506

Team(_id=1196, name='Florida') 0.9257892460913566

Team(_id=1163, name='Connecticut') 0.551842001179024

Team(_id=1161, name='Colorado St') 0.5402337713640544

Team(_id=1268, name='Maryland') 0.7730336841605495

Team(_id=1281, name='Missouri') 0.6818607665782438

Team(_id=1403, name='Texas Tech') 0.8466450441858029

Team(_id=1242, name='Kansas') 0.6352262148759694

Team(_id=1385, name="St John's") 0.8226493683753104

Team(_id=1222, name='Houston') 0.9519770480989684

Team(_id=1211, name='Gonzaga') 0.6222997701050228

Team(_id=1155, name='Clemson') 0.6637122473957955

Team(_id=1345, name='Purdue') 0.7615991226127036

Team(_id=1228, name='Illinois') 0.6274839324724525

Team(_id=1246, name='Kentucky') 0.797464054774969

Team(_id=1417, name='UCLA') 0.6022917087337378

Team(_id=1397, name='Tennessee') 0.8794842266195767

In [227]:
print("PROB OF MAKING IT TO SWEET 16")
for game in second_round:
    for team, prob in sorted(game.all_win_probs.items(), key=lambda team_prob_tuple: -team_prob_tuple[1]):
        print(team, prob)
    print()

PROB OF MAKING IT TO SWEET 16
Team(_id=1120, name='Auburn') 0.7185654394717582
Team(_id=1257, name='Louisville') 0.17533373023591453
Team(_id=1166, name='Creighton') 0.10245629147898011
Team(_id=1106, name='Alabama St') 0.003644538813347026

Team(_id=1401, name='Texas A&M') 0.40252294641153286
Team(_id=1276, name='Michigan') 0.33696209818812656
Team(_id=1471, name='UC San Diego') 0.16174442524307014
Team(_id=1463, name='Yale') 0.09877053015727044

Team(_id=1235, name='Iowa St') 0.500099178127317
Team(_id=1279, name='Mississippi') 0.23564536065297143
Team(_id=1314, name='North Carolina') 0.2083026766576644
Team(_id=1252, name='Lipscomb') 0.055952784562047164

Team(_id=1277, name='Michigan St') 0.5068877499795769
Team(_id=1266, name='Marquette') 0.28473035503781874
Team(_id=1307, name='New Mexico') 0.17704830914490763
Team(_id=1136, name='Bryant') 0.03133358583769675

Team(_id=1181, name='Duke') 0.7329103660118221
Team(_id=1124, name='Baylor') 0.1417946167913299
Team(_id=1280, name='Mississippi St') 0.1206395686247029
Team(_id=1291, name="Mt St Mary's") 0.00465544857214505

Team(_id=1112, name='Arizona') 0.5470152593561578
Team(_id=1332, name='Oregon') 0.23391135707468375
Team(_id=1251, name='Liberty') 0.15621000134765958
Team(_id=1103, name='Akron') 0.0628633822214989

Team(_id=1458, name='Wisconsin') 0.461540278070554
Team(_id=1140, name='BYU') 0.33294609616703796
Team(_id=1433, name='VCU') 0.17783977879406987
Team(_id=1285, name='Montana') 0.027673846968338196

Team(_id=1104, name='Alabama') 0.6177078251701682
Team(_id=1388, name="St Mary's CA") 0.23017554493482237
Team(_id=1435, name='Vanderbilt') 0.13376207072816346
Team(_id=1352, name='Robert Morris') 0.018354559166846002

Team(_id=1196, name='Florida') 0.6848167372153533
Team(_id=1163, name='Connecticut') 0.1759915715926757
Team(_id=1328, name='Oklahoma') 0.12535609780692542
Team(_id=1313, name='Norfolk St') 0.01383559338504572

Team(_id=1268, name='Maryland') 0.5289906940186022
Team(_id=1161, name='Colorado St') 0.21554580517174526
Team(_id=1272, name='Memphis') 0.167091188349973
Team(_id=1213, name='Grand Canyon') 0.0883723124596795

Team(_id=1403, name='Texas Tech') 0.5268734172328691
Team(_id=1281, name='Missouri') 0.3337086606348593
Team(_id=1179, name='Drake') 0.10279398953318905
Team(_id=1423, name='UNC Wilmington') 0.03662393259908259

Team(_id=1385, name="St John's") 0.44668387862938824
Team(_id=1242, name='Kansas') 0.35778890696895316
Team(_id=1116, name='Arkansas') 0.15864613170106934
Team(_id=1303, name='NE Omaha') 0.036881082700589235

Team(_id=1222, name='Houston') 0.6820048852991699
Team(_id=1211, name='Gonzaga') 0.21692012995500087
Team(_id=1208, name='Georgia') 0.09547225809913941
Team(_id=1188, name='SIUE') 0.005602726646689787

Team(_id=1345, name='Purdue') 0.4511512726799502
Team(_id=1155, name='Clemson') 0.34885138483107947
Team(_id=1270, name='McNeese St') 0.12397599218827703
Team(_id=1219, name='High Point') 0.07602135030069326

Team(_id=1246, name='Kentucky') 0.44511389487332437
Team(_id=1228, name='Illinois') 0.345150865393017
Team(_id=1462, name='Xavier') 0.15977741164504666
Team(_id=1407, name='Troy') 0.04995782808861189

Team(_id=1397, name='Tennessee') 0.5744592513360552
Team(_id=1417, name='UCLA') 0.2626525344439619
Team(_id=1429, name='Utah St') 0.13779944032484626
Team(_id=1459, name='Wofford') 0.02508877389513655

In [228]:
print("PROB OF MAKING IT TO ELITE 8")
for game in third_round:
    for team, prob in sorted(game.all_win_probs.items(), key=lambda team_prob_tuple: -team_prob_tuple[1]):
        print(team, prob)
    print()

PROB OF MAKING IT TO ELITE 8
Team(_id=1120, name='Auburn') 0.5448759931670526
Team(_id=1401, name='Texas A&M') 0.14021317021638113
Team(_id=1276, name='Michigan') 0.11200348054275354
Team(_id=1257, name='Louisville') 0.09698618303474817
Team(_id=1166, name='Creighton') 0.04865305429391674
Team(_id=1471, name='UC San Diego') 0.038632397012282424
Team(_id=1463, name='Yale') 0.018229390564824255
Team(_id=1106, name='Alabama St') 0.00040633116804106106

Team(_id=1235, name='Iowa St') 0.29734302004893653
Team(_id=1277, name='Michigan St') 0.26884990261285713
Team(_id=1266, name='Marquette') 0.1331035715729973
Team(_id=1279, name='Mississippi') 0.11399897234058154
Team(_id=1314, name='North Carolina') 0.09665496767818689
Team(_id=1307, name='New Mexico') 0.0694858256825474
Team(_id=1252, name='Lipscomb') 0.015122566702444096
Team(_id=1136, name='Bryant') 0.005441173361449077

Team(_id=1181, name='Duke') 0.541113290800723
Team(_id=1112, name='Arizona') 0.22226836794433893
Team(_id=1124, name='Baylor') 0.06940926847707954
Team(_id=1332, name='Oregon') 0.0647682057412572
Team(_id=1280, name='Mississippi St') 0.056292875777488836
Team(_id=1251, name='Liberty') 0.03614596297061496
Team(_id=1103, name='Akron') 0.009457075875191616
Team(_id=1291, name="Mt St Mary's") 0.0005449524133057852

Team(_id=1104, name='Alabama') 0.38426660617607256
Team(_id=1458, name='Wisconsin') 0.2223087736608339
Team(_id=1140, name='BYU') 0.15925466047976944
Team(_id=1388, name="St Mary's CA") 0.10793184003595126
Team(_id=1433, name='VCU') 0.0673515746859252
Team(_id=1435, name='Vanderbilt') 0.05175847606196449
Team(_id=1285, name='Montana') 0.004261819649382295
Team(_id=1352, name='Robert Morris') 0.002866249250100886

Team(_id=1196, name='Florida') 0.48290023344058375
Team(_id=1268, name='Maryland') 0.24258404079072377
Team(_id=1163, name='Connecticut') 0.08621397147828913
Team(_id=1161, name='Colorado St') 0.06592907147368689
Team(_id=1328, name='Oklahoma') 0.0552336140202679
Team(_id=1272, name='Memphis') 0.045930736598590795
Team(_id=1213, name='Grand Canyon') 0.018775327785434785
Team(_id=1313, name='Norfolk St') 0.002433004412423091

Team(_id=1403, name='Texas Tech') 0.3268845331612123
Team(_id=1385, name="St John's") 0.20949330904850316
Team(_id=1281, name='Missouri') 0.18532311299283136
Team(_id=1242, name='Kansas') 0.1700353428088169
Team(_id=1116, name='Arkansas') 0.0550890630261305
Team(_id=1179, name='Drake') 0.03830071604039749
Team(_id=1423, name='UNC Wilmington') 0.00865158147679635
Team(_id=1303, name='NE Omaha') 0.006222341445311941

Team(_id=1222, name='Houston') 0.5125882048269869
Team(_id=1345, name='Purdue') 0.16220699860706037
Team(_id=1211, name='Gonzaga') 0.12847078285755442
Team(_id=1155, name='Clemson') 0.113793592553486
Team(_id=1208, name='Georgia') 0.04509048332047536
Team(_id=1270, name='McNeese St') 0.02511205272052113
Team(_id=1219, name='High Point') 0.011938827536028158
Team(_id=1188, name='SIUE') 0.0007990575778876465

Team(_id=1397, name='Tennessee') 0.345542057551572
Team(_id=1246, name='Kentucky') 0.22611010764283446
Team(_id=1228, name='Illinois') 0.1716902829661407
Team(_id=1417, name='UCLA') 0.1279319383096053
Team(_id=1462, name='Xavier') 0.059915392296449696
Team(_id=1429, name='Utah St') 0.05347247371160623
Team(_id=1407, name='Troy') 0.010845243944572662
Team(_id=1459, name='Wofford') 0.004492503577218875

In [230]:
print("PROB OF MAKING IT TO FINAL 4")
for game in fourth_round:
    for team, prob in sorted(game.all_win_probs.items(), key=lambda team_prob_tuple: -team_prob_tuple[1]):
        print(team, prob)
    print()

PROB OF MAKING IT TO FINAL 4
Team(_id=1120, name='Auburn') 0.39102110960596503
Team(_id=1235, name='Iowa St') 0.13698221288615023
Team(_id=1277, name='Michigan St') 0.1134973088767251
Team(_id=1401, name='Texas A&M') 0.06972588137255453
Team(_id=1276, name='Michigan') 0.05362230000352747
Team(_id=1266, name='Marquette') 0.048561483824679647
Team(_id=1257, name='Louisville') 0.04856003819033881
Team(_id=1279, name='Mississippi') 0.04086884226213464
Team(_id=1314, name='North Carolina') 0.03299189457667313
Team(_id=1307, name='New Mexico') 0.020827958332707768
Team(_id=1166, name='Creighton') 0.02056499451544005
Team(_id=1471, name='UC San Diego') 0.013991621032021053
Team(_id=1463, name='Yale') 0.005251827727941076
Team(_id=1252, name='Lipscomb') 0.002813155732998821
Team(_id=1136, name='Bryant') 0.0006820107339635391
Team(_id=1106, name='Alabama St') 3.736032617894552e-05

Team(_id=1181, name='Duke') 0.36863218214729876
Team(_id=1104, name='Alabama') 0.1937801758812485
Team(_id=1112, name='Arizona') 0.11472450160100467
Team(_id=1458, name='Wisconsin') 0.09248752067725168
Team(_id=1140, name='BYU') 0.0657519533229177
Team(_id=1388, name="St Mary's CA") 0.03897124229952963
Team(_id=1124, name='Baylor') 0.028897559528395733
Team(_id=1332, name='Oregon') 0.02379521489183447
Team(_id=1280, name='Mississippi St') 0.022165025941966964
Team(_id=1433, name='VCU') 0.0216179443458256
Team(_id=1435, name='Vanderbilt') 0.015074099361235962
Team(_id=1251, name='Liberty') 0.011248415251753442
Team(_id=1103, name='Akron') 0.0019535346659811715
Team(_id=1285, name='Montana') 0.0005345535142127893
Team(_id=1352, name='Robert Morris') 0.0003188824664201931
Team(_id=1291, name="Mt St Mary's") 4.7194103122710616e-05

Team(_id=1196, name='Florida') 0.31132220916612396
Team(_id=1403, name='Texas Tech') 0.17392684159995722
Team(_id=1268, name='Maryland') 0.12708510365605977
Team(_id=1385, name="St John's") 0.09289253229147645
Team(_id=1281, name='Missouri') 0.08666715549127846
Team(_id=1242, name='Kansas') 0.07642290679864444
Team(_id=1163, name='Connecticut') 0.035915200140196266
Team(_id=1161, name='Colorado St') 0.023541906301455574
Team(_id=1328, name='Oklahoma') 0.020339778622192866
Team(_id=1116, name='Arkansas') 0.017996097242697653
Team(_id=1272, name='Memphis') 0.014782859217701425
Team(_id=1179, name='Drake') 0.011508551801498023
Team(_id=1213, name='Grand Canyon') 0.004689582604610989
Team(_id=1423, name='UNC Wilmington') 0.001603508579063719
Team(_id=1303, name='NE Omaha') 0.0009808552993216765
Team(_id=1313, name='Norfolk St') 0.00032491118772160843

Team(_id=1222, name='Houston') 0.36164507436103605
Team(_id=1397, name='Tennessee') 0.16295944064816076
Team(_id=1246, name='Kentucky') 0.09340664081871092
Team(_id=1345, name='Purdue') 0.08094096953784102
Team(_id=1228, name='Illinois') 0.0692290652478973
Team(_id=1211, name='Gonzaga') 0.06863102639274136
Team(_id=1155, name='Clemson') 0.05244553973873076
Team(_id=1417, name='UCLA') 0.04661141127237177
Team(_id=1208, name='Georgia') 0.018631933421143845
Team(_id=1462, name='Xavier') 0.017569054101619158
Team(_id=1429, name='Utah St') 0.014963852657665058
Team(_id=1270, name='McNeese St') 0.007676605407171529
Team(_id=1219, name='High Point') 0.0028976406739716627
Team(_id=1407, name='Troy') 0.0017598271685459147
Team(_id=1459, name='Wofford') 0.0005407439555929711
Team(_id=1188, name='SIUE') 9.117459679980355e-05

In [232]:
print("PROB OF MAKING IT TO NATIONAL CHAMPIONSHIP")
for game in fifth_round:
    for team, prob in sorted(game.all_win_probs.items(), key=lambda team_prob_tuple: -team_prob_tuple[1]):
        print(team, prob)
    print()

PROB OF MAKING IT TO NATIONAL CHAMPIONSHIP
Team(_id=1120, name='Auburn') 0.25689434218558166
Team(_id=1196, name='Florida') 0.1810752853571993
Team(_id=1403, name='Texas Tech') 0.08873893107775566
Team(_id=1235, name='Iowa St') 0.06884439194610596
Team(_id=1268, name='Maryland') 0.05876042923260125
Team(_id=1277, name='Michigan St') 0.05242967251446799
Team(_id=1385, name="St John's") 0.03918447095827576
Team(_id=1281, name='Missouri') 0.03864470156692355
Team(_id=1242, name='Kansas') 0.03269491118976948
Team(_id=1401, name='Texas A&M') 0.030065384063990782
Team(_id=1276, name='Michigan') 0.022168325017022796
Team(_id=1257, name='Louisville') 0.021098338747893564
Team(_id=1266, name='Marquette') 0.01945753974337282
Team(_id=1279, name='Mississippi') 0.016096227881871986
Team(_id=1163, name='Connecticut') 0.012990089870224215
Team(_id=1314, name='North Carolina') 0.012382273258865463
Team(_id=1166, name='Creighton') 0.007415549713494374
Team(_id=1161, name='Colorado St') 0.0072386771877927586
Team(_id=1307, name='New Mexico') 0.006876049253753508
Team(_id=1328, name='Oklahoma') 0.006459503673407484
Team(_id=1116, name='Arkansas') 0.005523130473488624
Team(_id=1471, name='UC San Diego') 0.004268932938525052
Team(_id=1272, name='Memphis') 0.004077823360497038
Team(_id=1179, name='Drake') 0.0032383027957401463
Team(_id=1463, name='Yale') 0.001255980952825853
Team(_id=1213, name='Grand Canyon') 0.0009945421807377878
Team(_id=1252, name='Lipscomb') 0.0005775368404273348
Team(_id=1423, name='UNC Wilmington') 0.00027364711829918286
Team(_id=1303, name='NE Omaha') 0.0001416777961032788
Team(_id=1136, name='Bryant') 9.430910273937683e-05
Team(_id=1313, name='Norfolk St') 3.627404187745033e-05
Team(_id=1106, name='Alabama St') 2.747958368439563e-06

Team(_id=1181, name='Duke') 0.2311205491124434
Team(_id=1222, name='Houston') 0.22466243741659378
Team(_id=1104, name='Alabama') 0.10168961553737763
Team(_id=1397, name='Tennessee') 0.07826098752485677
Team(_id=1112, name='Arizona') 0.05290222203069367
Team(_id=1458, name='Wisconsin') 0.04015273605472009
Team(_id=1246, name='Kentucky') 0.0392764070550064
Team(_id=1345, name='Purdue') 0.033324627614808575
Team(_id=1211, name='Gonzaga') 0.030559248853456816
Team(_id=1228, name='Illinois') 0.02840980285241372
Team(_id=1140, name='BYU') 0.02833064050943519
Team(_id=1155, name='Clemson') 0.019732271249094744
Team(_id=1417, name='UCLA') 0.017271482095705726
Team(_id=1388, name="St Mary's CA") 0.014692529301099409
Team(_id=1124, name='Baylor') 0.01058532792948768
Team(_id=1280, name='Mississippi St') 0.007653697884524657
Team(_id=1332, name='Oregon') 0.007638271265381256
Team(_id=1433, name='VCU') 0.0072433817426964635
Team(_id=1208, name='Georgia') 0.006204747643350013
Team(_id=1462, name='Xavier') 0.00522823150517677
Team(_id=1435, name='Vanderbilt') 0.004580381773837919
Team(_id=1429, name='Utah St') 0.004247392377177768
Team(_id=1251, name='Liberty') 0.003035118853432865
Team(_id=1270, name='McNeese St') 0.001839816394603966
Team(_id=1219, name='High Point') 0.000542868693219274
Team(_id=1103, name='Akron') 0.000345142936426191
Team(_id=1407, name='Troy') 0.00028768722471551064
Team(_id=1285, name='Montana') 6.92382951852111e-05
Team(_id=1459, name='Wofford') 6.533872361442934e-05
Team(_id=1352, name='Robert Morris') 3.657911068373434e-05
Team(_id=1188, name='SIUE') 7.780537631978316e-06
Team(_id=1291, name="Mt St Mary's") 3.4399011482907058e-06